<h1>{{title}}</h1>

<!-- if condition -->
<!-- <h1 *ngIf="show">if condition</h1> -->

<!--   
<h1 *ngIf="show1 else elseBlock">
  If condition
</h1>
<!-- else condition -->
<!-- <ng-template #elseBlock>
  <h1>
    Else condition
  </h1>
</ng-template> -->


<!-- if condition with ng-template -->
<h1 *ngIf="show2; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
  <h1>If condition with ng-template</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>else block</h1>
</ng-template>


<!-- ng-template in comparison with string -->
<h1 *ngIf="show3==='yes'; then ifBlock1 else elseBlock1" ></h1>

<ng-template #ifBlock1>
  <h1>If condition content YES</h1>
</ng-template>

<ng-template #elseBlock1>
  <h1>else block content other than YES</h1>
</ng-template>

<!-- Multiple conditions -->
<!--in multiple condition we cannot use the regular *ngIf so we have used the property binding -->
<ng-template [ngIf]="color==='red'">
  <h1 style="color: red;">Red color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
  <h1 style="color: green;">Green color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">Blue color</h1>
</ng-template>